<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/screen.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <nav id="nav" class="navbar navbar-dark bg-dark" style="margin-bottom: 20px">
                    <ul >
                        <li class="navbar-brand"><a href="{{path('app_home')}}" title="accueil" class="text-white" >Accueil</a></li>
                        <li class="navbar-brand"> <a href="{{path('app_article_object')}}" title="article" class="text-white" >Create article</a></li>
                        <li class="navbar-brand"> <a href="{{path('app_article')}}" title="article" class="text-white" >Articles</a></li>
                        <li class="navbar-brand"> <a href="{{ path('app_magique_article', { value:'magique'}) }}" title="article" class="text-white" >Liste Magique</a></li>
                        <li class="navbar-brand"> <a href="{{ path('afficherById', {id:'1'})}}" title="article" class="text-white" >Requete automatique</a></li>
                        <li class="navbar-brand"> <a href="{{ path('app_article_categorie')}}" title="categorie" class="text-white" >Create categorie</a></li>
                        <li class="navbar-brand"> <a href="{{ path('list_categorie')}}" title="categorie" class="text-white" >Categorie</a></li>
                        <li class="navbar-brand"> <a href="{{ path('app_form_art')}}" title="formulaire" class="text-white" >Formulaire Article</a></li>
                        <li class="navbar-brand"> <a href="{{ path('app_form_categ')}}" title="formulaire" class="text-white" >Formulaire Categorie</a></li>
                        {#  #}
                    </ul>
                </nav>
            {% endblock %}
        </header>
            {% block body %}


            {% endblock %}
        <footer>
            {% block footer %}
                <footer class="bg-dark text-center text-white"style="margin-top: 20px;">
                    <!-- Grid container -->
                    <div class="container p-4 pb-0">
                        <!-- Section: Social media -->
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-facebook-f"></i
                                ></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-twitter"></i
                                ></a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-google"></i
                                ></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-instagram"></i
                                ></a>

                            <!-- Linkedin -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-linkedin-in"></i
                                ></a>

                            <!-- Github -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-github"></i
                                ></a>
                        </section>
                        <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2020 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                    </div>
                    <!-- Copyright -->
                </footer>

            {% endblock %}
        </footer>
    </body>
</html>
